@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-input {
        @apply flex-grow pl-5 bg-transparent focus:outline-none border-transparent  focus:border-transparent focus:ring-0
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
  }
  
  .loader {
    border: 14px solid #f3f3f3; /* Light grey */
    border-top: 14px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
